
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <title>Crop yield predication using ML</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="static/assets/css/fontawesome.css">
  <link rel="stylesheet" href="static/assets/css/templatemo-plot-listing.css">
  <link rel="stylesheet" href="static/assets/css/animated.css">
  <link rel="stylesheet" href="static/assets/css/owl.css">
  <!--

  TemplateMo 564 Plot Listing

  https://templatemo.com/tm-564-plot-listing

  -->

  <style>
h2 {
  text-shadow: 2px 2px 8px black;
}
 h2.b{
  visibility:hidden;}

p {text-align: center;}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
h3 {
  text-shadow: 2px 2px 8px black;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}
center {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style>
</head>


<body >

<!-- ***** Preloader Start ***** -->

<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<div class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s" >
  <!--<div class="container" style="padding-top: 5px;">-->
    <div class="row">

      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->





             <nav class="navbar navbar-inverse">
  <div class="container-fluid">

   <ul class="nav">
            <li><a href="/" style="font-weight: bolder;font-size=20px">Home</a></li>
            <li><a href="/about" style="font-weight: bolder;font-size=20px">About</a></li>
      <li><a href="/login" style="font-weight: bolder;font-size=20px">Login</a></li>

          <li><div class="main-white-button"><a href="/about"> <img src="static/assets/images/th (2).jpg" width="20" height="40";> </a></div></li>

<!--            <li><a href="/registration">Registration</a></li>-->
            <!--              <li><div class="main-white-button"><a href="#"><i class="fa fa-plus"></i> Add Your Listing</a></div></li> -->
          </ul>
<!--            <li><a href="/registration">Registration</a></li>-->
            <!--              <li><div class="main-white-button"><a href="#"><i class="fa fa-plus"></i> Add Your Listing</a></div></li> -->
          </ul>
  </div>
</nav>
            <h1> <b><a class="navbar-brand" href="index.html" style="color:black;font-size:30px;padding-top=200px"> CROP YIELD PREDICTION  <span style="color:black;"> </span></a></b></h1>




          <h1> <b><a class="navbar-brand" href="index.html" style="color:white; font-size:30px">  <span style="color:black;background-image:linear-gradient(to right,#1e9600, #fff200, #ff0000);">CRYPML </span></a></b></h1>
          <a href="index.html">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->

          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  <!--</div>-->
</div>
<!-- ***** Header Area End ***** -->


<center style="background-image: url('static/assets/images/172670-krasochnost-lazurnyj-purpur-fioletovyj-sklon-720x1280.jpg');height="100">

   <h2 style="opacity:0.0"> <br>
        alskgno
                  <br></h2>


    <div class="container"> <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
      <div class="row">
        <div class="col-lg-8">
          <div class="top-text header-text">

         <!--  <center><h2 style="color:blue; font-size:50px">LOGIN</h2>-->
<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                   <!-- <h2 class="title">Registration Info</h2>-->
                    <form method="POST">
                        <div class="container">


   <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider">
      <div class="slider-cap-wrapper">
        <div class="hero__caption">
          <!--                            <p data-animation="fadeInLeft" data-delay=".2s">Login with our services</p>-->
          <div class="mb-3">
                                            <center><h3 style="color:black;background-color:white">{{msg}}</h3></center>
            {% block body %}
            {% if msg =='Invalid Credentials' %}
            <h3>Please provide valid credentials</h3>
            {% elif msg=='Login Successfull' %}
            <h3>Login Successful</h3>
            {% endif %}
            {% endblock %}
            <form class="modal-content animate" action="{{url_for('login')}}" method="post">
              <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"></span>
<!--                <img src="static/assets/images/e22.png">-->
              </div>

                <form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="static/assets/images/th (2).jpg"  alt="Avatar" class="avatar" width="100" height="300">
  </div>

              <div class="container">
                <label for="email"><b style="color:black ">Email</b></label>
                <input type="email" placeholder="       Enter Email" name="email" title="we need perfect email id only" required="required" style="height: 45px;width: 210px;margin-left: 30px;"><br><br>

                <label for="psw"><b>Password</b></label>

                <input type="password" id="psw" name="psw" placeholder="Enter Password"pattern="{8,}" title="Must contain  at least 8 or more characters" required><br><br>

                <button type="submit">submit</button>
              </div>



            </form>

            <div class="mb-3">

<!--              <input type="submit" class="btn btn-danger" value="Submit">-->
            </div> </form>
            <!-- Hero Btn -->



            <!--&lt;!&ndash;            <h2>Item listings of Different Categories</h2>&ndash;&gt;-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   <div class="slider-area slider-height" data-background="static/assets/images/e7.jpg">-->

          </div>
          <div class="hero__img">

          </div>
        </div>
      </div>


    </div>

  </div>
              <h2 style="opacity:0.0"> <br>
        alskgno
                  <br>



        </h2>

  <div class="footer">
            All &copy; copyright reserved || CRYPML

             </div>


<!-- Scripts -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/js/owl-carousel.js"></script>
<script src="static/assets/js/animation.js"></script>
<script src="static/assets/js/imagesloaded.js"></script>
<script src="static/assets/js/custom.js"></script>

</body>

</html>






